* {
  display: border-box;
}

.main-container {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  // border: 1px solid black;

  .chat-box {
    width: 80%;
    max-width: 1200px;
    border: 1.5px solid black;
  }

  .chat-box div {
    background-color: #ccc;
    padding: 5px;
  }

  .chat-box div:nth-child(2n) {
    background-color: #fff;
  }

  .send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;

    .message-input {
      flex-grow: 1;
    }
  }
}
